<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <bindings>
		<basicHttpBinding>
			<!-- Feedback Service-->
			<binding name="BasicHttpBinding_IUserFeedbackService" />
			<binding name="BasicHttpBinding_IUserFeedbackServiceXml" />
			<binding name="BasicHttpBinding_IJustMockUserFeedbackService" />
			<!-- IUpdatesService -->
			<binding name="BasicHttpBinding_IUpdatesService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="1048576" maxBufferPoolSize="524288" maxReceivedMessageSize="1048576" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
			<readerQuotas maxDepth="32" maxStringContentLength="5242880" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="Windows" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="setMaxObjectsInResponse">
          <dataContractSerializer maxItemsInObjectGraph="2147483646"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
		<!-- Feedback Service-->
		<endpoint address="http://justtrace.telerik.com/ExceptionsReportingService/UserFeedbackService.svc"
			binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserFeedbackService"
			contract="IUserFeedbackService" name="BasicHttpBinding_IUserFeedbackService" />
		<endpoint address="http://justtrace.telerik.com/ExceptionsReportingService/UserFeedbackService.svc"
			binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserFeedbackServiceXml"
			contract="IUserFeedbackServiceXml" name="BasicHttpBinding_IUserFeedbackServiceXml" />
		<endpoint address="http://justtrace.telerik.com/ExceptionsReportingService/UserFeedbackService.svc"
			binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IJustMockUserFeedbackService"
			contract="IJustMockUserFeedbackService" name="BasicHttpBinding_IJustMockUserFeedbackService" />
		<!-- UpdatesService -->
		<endpoint address="http://justmock.telerik.com/AutoUpdatesService/UpdatesService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUpdatesService" contract="IUpdatesService" name="BasicHttpBinding_IUpdatesService"/>
    </client>
  </system.serviceModel>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>
</configuration>
