<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="JustMock" type="Telerik.JustMock.Configuration.Profilers.JustMockConfiguration, Telerik.JustMock.Configuration" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication"/>
	</configSections>

	<runtime>
		<generatePublisherEvidence enabled="false" />
	</runtime>

	<startup>
		<supportedRuntime version="v4.0"/>
		<supportedRuntime version="v2.0.50727"/>
	</startup>

	<JustMock>
		<!-- IMPORTANT: name attribute value must be UNIQUE! -->
	
		<ComRegistrationHijackedProfilers>
			<add product="JustTrace" name="JustTrace Sampling" profilerGuid="4681113A-86F0-44CE-855B-FED84C0924E5"/>
			<add product="JustTrace" name="JustTrace Sampling 64-bit" is64bit="true" profilerGuid="4681113A-86F0-44CE-855B-FED84C0924E5"/>
			<add product="JustTrace" name="JustTrace Tracing" profilerGuid="9180FC24-0BC1-4A0E-ABEC-5F860697BD66"/>
			<add product="JustTrace" name="JustTrace Tracing 64-bit" is64bit="true" profilerGuid="9180FC24-0BC1-4A0E-ABEC-5F860697BD66"/>
			<add product="JustTrace" name="JustTrace Memory" profilerGuid="06051352-82A1-41DB-BA4F-12D9D3DF4767"/>
			<add product="JustTrace" name="JustTrace Memory 64-bit" is64bit="true" profilerGuid="06051352-82A1-41DB-BA4F-12D9D3DF4767"/>
			<add product="JustTrace" name="JustTrace Workstation" profilerGuid="55347B27-3DDF-47FD-ACDC-490C8B04E111"/>
			<add product="JustTrace" name="JustTrace Workstation 64-bit" is64bit="true" profilerGuid="55347B27-3DDF-47FD-ACDC-490C8B04E111"/>

			<add product="NCover 2/3/4" name="NCover 3" profilerGuid="9721F7EB-5F92-447c-9F75-79278052B7BA"/>
			<add product="NCover 2/3/4" name="NCover 3 64-bit" is64bit="true" profilerGuid="9721F7EB-5F92-447c-9F75-79278052B7BA"/>
			<add product="NCover 3.x/4.x" name="NCover 4 launcher" profilerGuid="7D35BD6E-BC90-44D2-9DC7-4E555B643072"/>
			<add product="NCover 3.x/4.x" name="NCover 4 64-bit launcher" is64bit="true" profilerGuid="7D35BD6E-BC90-44D2-9DC7-4E555B643072"/>
	  
			<!--since NCover 4.5: the NCover launcher starts the coverage profiler, so it must not hijacked!-->
			<!--<add product="NCover 3.x/4.x" name="NCover 4.1 coverage" profilerGuid="3E8C918E-5A84-4971-A6AF-20B97F48B6B3"/>
			<add product="NCover 3.x/4.x" name="NCover 4.1 64-bit coverage" is64bit="true" profilerGuid="3E8C918E-5A84-4971-A6AF-20B97F48B6B3"/>-->

			<add product="OpenCover" name="OpenCover" profilerGuid="1542C21D-80C3-45E6-A56C-A9C1E4BEB7B8"/>
			<add product="OpenCover" name="OpenCover 64-bit" is64bit="true" profilerGuid="1542C21D-80C3-45E6-A56C-A9C1E4BEB7B8"/>
			<add product="OpenCover" name="OpenCover 64-bit old" is64bit="true" profilerGuid="A7A1EDD8-D9A9-4D51-85EA-514A8C4A9100"/>
	  
			<add product="PartCover" name="PartCover" profilerGuid="717FF691-2ADF-4AC0-985F-1DD3C42FDF90"/>

			<add product="Visual Studio 2008 Profiler" name="VSPerf 9" profilerGuid="0A56A683-003A-41A1-A0AC-0F94C4913C48"/>
			<add product="Visual Studio 2008 Profiler" name="VSPerf 9 64-bit" is64bit="true" profilerGuid="0A56A683-003A-41A1-A0AC-0F94C4913C48"/>
			<add product="Visual Studio 2008 Profiler" name="VSPerf 9 alt" profilerGuid="6468EC6C-94BD-40D3-BD93-4414565DAFBF"/>
			<add product="Visual Studio 2008 Profiler" name="VSPerf 9 64-bit alt" is64bit="true" profilerGuid="6468EC6C-94BD-40D3-BD93-4414565DAFBF"/>

			<add product="Visual Studio 2010 Profiler" name="VSPerf 10" profilerGuid="09547427-F119-4a1f-A5B2-3D866632EFE0"/>
			<add product="Visual Studio 2010 Profiler" name="VSPerf 10 64-bit" is64bit="true" profilerGuid="09547427-F119-4a1f-A5B2-3D866632EFE0"/>
			<add product="Visual Studio 2010 Profiler" name="VSPerf 10 alt" profilerGuid="F1216318-0905-4fe8-B2E8-105CEB7CD689"/>
			<add product="Visual Studio 2010 Profiler" name="VSPerf 10 64-bit alt" is64bit="true" profilerGuid="F1216318-0905-4fe8-B2E8-105CEB7CD689"/>

			<add product="Visual Studio 2010 IntelliTrace" name="IntelliTrace 2010" profilerGuid="301EC75B-AD5A-459C-A4C4-911C878FA196"/>
			<add product="Visual Studio 2010 IntelliTrace" name="IntelliTrace 2010 64-bit" is64bit="true" profilerGuid="301EC75B-AD5A-459C-A4C4-911C878FA196"/>

			<add product="Visual Studio 2012 Profiler" name="VSPerf 11" profilerGuid="44A86CAD-F7EE-429C-83EB-F3CDE3B87B70"/>
			<add product="Visual Studio 2012 Profiler" name="VSPerf 11 64-bit" is64bit="true" profilerGuid="44A86CAD-F7EE-429C-83EB-F3CDE3B87B70"/>
			<add product="Visual Studio 2012 Profiler" name="VSPerf 11 alt" profilerGuid="D9DB81DB-81FE-4611-815D-144AD522E1B1"/>
			<add product="Visual Studio 2012 Profiler" name="VSPerf 11 64-bit alt" is64bit="true" profilerGuid="D9DB81DB-81FE-4611-815D-144AD522E1B1"/>

			<add product="Visual Studio 2012 Code Coverage/IntelliTrace" name="IntelliTrace 2012" profilerGuid="B19F184A-CC62-4137-9A6F-AF0F91730165"/>
			<add product="Visual Studio 2012 Code Coverage/IntelliTrace" name="IntelliTrace 2012 64-bit" is64bit="true" profilerGuid="B19F184A-CC62-4137-9A6F-AF0F91730165"/>

			<!--VS2013 uses COR_PROFILER_PATH to launch the profiler and subverts COM hijacking-->
			<!--<add product="Visual Studio 2013 Profiler" name="VSPerf 12" profilerGuid="2CCFACEE-5E60-4734-8A98-181D93097CD9"/>
			<add product="Visual Studio 2013 Profiler" name="VSPerf 12 64-bit" is64bit="true" profilerGuid="2CCFACEE-5E60-4734-8A98-181D93097CD9"/>
			<add product="Visual Studio 2013 Profiler" name="VSPerf 12 alt" profilerGuid="B61B010D-1035-48A9-9833-32C2A2CDC294"/>
			<add product="Visual Studio 2013 Profiler" name="VSPerf 12 64-bit alt" is64bit="true" profilerGuid="B61B010D-1035-48A9-9833-32C2A2CDC294"/>-->

			<add product="Visual Studio 2013 Code Coverage/IntelliTrace" name="IntelliTrace 2013" profilerGuid="44250666-1751-4368-A29C-31CAF4CCF3F5"/>
			<add product="Visual Studio 2013 Code Coverage/IntelliTrace" name="IntelliTrace 2013 64-bit" is64bit="true" profilerGuid="44250666-1751-4368-A29C-31CAF4CCF3F5"/>

			<add product="Visual Studio 2015 Code Coverage/IntelliTrace" name="IntelliTrace 2015" profilerGuid="9999995D-2CBB-4893-BE09-FCE80ABC7564"/>
			<add product="Visual Studio 2015 Code Coverage/IntelliTrace" name="IntelliTrace 2015 64-bit" is64bit="true" profilerGuid="9999995D-2CBB-4893-BE09-FCE80ABC7564"/>

			<add product="Visual Studio 2015 Profiler" name="VSPerf 14" profilerGuid="C60A40F7-B6A2-428C-8E87-E1BF6563F650"/>
			<add product="Visual Studio 2015 Profiler" name="VSPerf 14 64-bit" is64bit="true" profilerGuid="C60A40F7-B6A2-428C-8E87-E1BF6563F650"/>
			<add product="Visual Studio 2015 Profiler" name="VSPerf 14 alt" profilerGuid="E03EE726-D44E-43C4-A0DC-C8EA95F8E68A"/>
			<add product="Visual Studio 2015 Profiler" name="VSPerf 14 64-bit alt" is64bit="true" profilerGuid="E03EE726-D44E-43C4-A0DC-C8EA95F8E68A"/>

			<add product="MightyMoose" name="MightyMoose" profilerGuid="36C8D782-F697-45C4-856A-92D05C061A39"/>
			<add product="MightyMoose" name="MightyMoose 64-bit" is64bit="true" profilerGuid="5D789D88-EEE7-46C4-909F-E39D5606544D"/>

			<add product="New Relic Agent" name="New Relic Agent" profilerGuid="FF68FEB9-E58A-4B75-A2B8-90CE7D915A26"/>
			<add product="New Relic Agent" name="New Relic Agent 64-bit" is64bit="true" profilerGuid="FF68FEB9-E58A-4B75-A2B8-90CE7D915A26"/>
			<add product="New Relic Agent" name="New Relic Agent alt" profilerGuid="71DA0A04-7777-4EC6-9643-7D28B46A8A41"/>
			<add product="New Relic Agent" name="New Relic Agent 64-bit alt" is64bit="true" profilerGuid="71DA0A04-7777-4EC6-9643-7D28B46A8A41"/>
		</ComRegistrationHijackedProfilers>
	
		<TransparentIntegrationProfilers>
			<add product="dotTrace Performance 5.x" name="dotTrace Sampling" valueName="SamplingPerformanceProfiler" key="SOFTWARE\JetBrains\Profiler\TransparentIntegration"/>
			<add product="dotTrace Performance 5.x" name="dotTrace Tracing" valueName="TracingPerformanceProfiler" key="SOFTWARE\JetBrains\Profiler\TransparentIntegration"/>
			<add product="dotTrace Performance 5.x" name="dotTrace TracingInject" valueName="TracingInjectPerformanceProfiler" key="SOFTWARE\JetBrains\Profiler\TransparentIntegration"/>
			<add product="dotCover" name="dotCover" valueName="CoverageProfiler" key="SOFTWARE\JetBrains\Profiler\TransparentIntegration"/>
		</TransparentIntegrationProfilers>

		<MiscellaneousProfilers>
			<add product="TestDriven.NET/NCover 1.5.x" name="NCover 1.5.x" implementation="TestDrivenNCoverHijacker"/>
			<add product="Visual Studio 2012 Code Coverage/IntelliTrace" name="vstest.discoveryengine 2012 massager" implementation="DiscoveryEngineMassager" parameter="32=IntelliTrace 2012; 64=IntelliTrace 2012 64-bit"/>
			<add product="Visual Studio 2013 Code Coverage/IntelliTrace" name="vstest.discoveryengine 2013 massager" implementation="DiscoveryEngineMassager" parameter="32=IntelliTrace 2013; 64=IntelliTrace 2013 64-bit"/>
			<add product="Visual Studio 2015 Code Coverage/IntelliTrace" name="vstest.discoveryengine 2015 massager" implementation="DiscoveryEngineMassager" parameter="32=IntelliTrace 2015; 64=IntelliTrace 2015 64-bit"/>
		</MiscellaneousProfilers>
	</JustMock>
</configuration>
